* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v24_320 {
  width: 100%;
  height: 627px;
  background: url("../images/v24_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_321 {
  width: 115px;
  height: 119px;
  background: url("../images/v24_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 190px;
  overflow: hidden;
}
